<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <header>
    is this real?
    <h1>Sabrina the coolest</h1>
  </header>
  <div>
    <h3>Sabrina's first blog post</h3>
    <p>May 2</p>
    <div class="blog-post">
      Amazing article about codeeeee
    </div>
    <div class="blog-post" id="second-post">
      Another amazing article
    </div>
  </div>
</body>
<style>
  div {
    color: blue;
  }

  .blog-post {
    color: green;
    background-color: purple;
  }

  #second-post {
    color: orange;
  }

  h1 {
    color: red;
  }
</style>
</html>
